@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700;900&display=swap');

$red: #e8192c;
$dark: #0d1117;
$font: 'Chakra Petch', sans-serif;

.about-page {
    width: 100%;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    gap: 0;
}

.gd-list {
    display: flex;
    flex-direction: column;
}