@import '../src/assets/styles/theme.scss';

body {
    font-family: "Chakra Petch", sans-serif !important;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}